.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
data/asthma.rds
data/asthma_age_info.rds
data/dat_aoa.rds
data/dat_coa.rds
data/geno_regions/*.log
data/geno_regions/*.pvar
data/geno_regions/*.psam
data/geno_regions/*.pgen
data/geno_regions/*.raw
data/surv_pheno.rds
data/surv_pheno/
data/geno_finemap_regions/
data/geno_finemap_region202408/
data/geno_regions_more_snps/
data/raw
data/gwas_logistic
data/gwas_logistic_out
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
res_susie/
result202408/
result202504/
get_geno202404/geno
